<!-- Loop over each object in the projects array -->
{{#each recipes as |recipe| }}
<div class="row mb-4 project">
  <div class="col-md-15">
    <h2 class="title shadow-lg p-3 mb-5 bg-body rounded">
      <a href="/api/recipe/{{recipe.id}}">{{recipe.title}}</a>
    </h2>
  </div>
</div>
{{/each}}