<!-- Loop over each object in the projects array -->
{{#each recipes as |recipe| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <a href="/api/recipe/{{recipe.id}}">{{recipe.title}}</a>
    </h2>
  </div>
</div>
{{/each}}