<div class="row mb-4 project shadow p-3 mb-5 bg-body rounded">
  <div class="col-md-7">
    <h2>
      {{recipe.dataValue.title}}
    </h2>
    <p class="highlight">Created by:</p>
    <p>{{recipe.user.dataValues.name}}</p>
  </div>
  <div class="col-md-7">
    <p class="highlight">Ingredients:</p>
    <p>{{recipe.dataValues.ingredients}}</p>
  </div>
  <div class="col-md-7">
    <p class="highlight">Instructions:</p>
    <p>{{recipe.dataValues.instructions}}</p>
  </div>
</div>