<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
        {{recipe.dataValue.title}}
    </h2>
    <p>Created by {{recipe.user.dataValues.name}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{recipe.dataValues.ingredients}}
    </p>
  </div>
    <div class="col-md-7">
    <p>
      {{recipe.dataValues.instructions}}
    </p>
  </div>
</div>