<!-- Loop over each object in the projects array -->
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
        {{recipe.value[0].title}}
    </h2>
    <p>Created by {{recipe.created_user_id.user}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{recipe.ingredients}}
    </p>
  </div>
    <div class="col-md-7">
    <p>
      {{recipe.instructions}}
    </p>
  </div>
</div>